<?xml version="1.0"?>

<model>
  <name>SDU Drone for AED Delivery</name>
  <version>0.1</version>
  <sdf version="1.6">sdu_aed.sdf</sdf>

  <author>
    <name>Martin Lauersen</name>
    <email>martl14@student.sdu.dk</email>
  </author>


  <maintainer email="martl14@student.sdu.dk">Martin Lauersen</maintainer>


  <description>
    A model of the SDU Drone modified for delivery of AED
  </description>
</model>
