<?xml version="1.0"?>
<model>
  <name>Cylinder</name>
  <version>0.1</version>
  <sdf version="1.6">cylinder.sdf</sdf>

  <author>
    <name>Magnus Aagaard</name>
    <email>jaaag17@student.sdu.dk</email>
  </author>
  <maintainer email="jaaag17@student.sdu.dk">Magnus Aagaard</maintainer>
  <description>
    A model of the standard cylinder from Gazebo
  </description>
</model>
