<?xml version="1.0"?>
<launch>
    <arg name="pointcloud_topic"        default="/pcl"/>
    <arg name="toggle_detection_topic"  default="/landing_detector/toggle_detection"/>
    <arg name="drone_width"             default="1.0"/>
    <arg name="drone_height"            default="1.0"/>
    <!-- Visualize suitable landing spots with markers in Rviz -->
    <arg name="visualize"               default="True" />

    <!-- Launch Landing Detector -->
    <node name="landing_detector" pkg="eit" type="landing_detector.py" output="screen" >
        <param name="pointcloud_topic"          value="$(arg pointcloud_topic)"/>
        <param name="toggle_detection_topic"    value="$(arg toggle_detection_topic)"/>
        <param name="drone_width"               value="$(arg drone_width)"/>
        <param name="drone_height"              value="$(arg drone_height)"/>
        <param name="visualize"                 value="$(arg visualize)" />
    </node>
</launch>
